test/rbkt/Queries/zorba/typeswitch/node_type.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.zorba-xquery.org/schema" 
            xmlns="http://www.zorba-xquery.org/schema" 
  elementFormDefault="qualified">

  <xs:element name="person" type="PersonType"/>

  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="age" type="xs:integer" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>

