test/rbkt/Queries/zorba/parsing_and_serializing/weather.xsd

<xs:schema
   xmlns:xs = "http://www.w3.org/2001/XMLSchema"
   xmlns:weather = "http://www.w3.org/test/weather"
   targetNamespace = "http://www.w3.org/test/weather"
   elementFormDefault = "qualified">

  <xs:element name="weather">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="temperature" type="xs:string"/>
      <xs:element name="precipitation" type="xs:string"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
