test/rbkt/Queries/zorba/schemas/incl-base.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.28msec.com/project1/schemas/simple" 
            xmlns="http://www.28msec.com/project1/schemas/simple" 
  elementFormDefault="qualified">

  <xs:element name="product" type="ProductType"/>

  <xs:complexType name="ProductType">
    <xs:attribute name="string" type="xs:string"/>
  </xs:complexType>

</xs:schema>

