test/rbkt/Queries/zorba/schemas/module.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.zorba-xquery.org/schema" 
            xmlns="http://www.zorba-xquery.org/schema" 
  elementFormDefault="qualified">

  <xs:element name="product" type="ProductType"/>

  <xs:complexType name="ProductType">
      <xs:attribute name="data" type="xs:base64Binary"/>
  </xs:complexType>

</xs:schema>
