test/rbkt/Queries/zorba/schemas/no-target.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

<xs:element name="Book" type="BookType" />

<xs:complexType name="BookType">
  <xs:sequence>
    <xs:element name="Title" type="xs:string" />
    <xs:element name="Author" type="xs:string" />
  </xs:sequence>
</xs:complexType>

</xs:schema>
