test/unit/schema1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.zorba-xquery.com/schemas/simple" 
            xmlns="http://www.zorba-xquery.com/schemas/simple" 
  elementFormDefault="qualified">

  <xs:element name="product" type="ProductType"/>

  <xs:complexType name="ProductType">
      <xs:attribute name="data" type="xs:base64Binary"/>
      <xs:attribute name="string" type="xs:string"/>
  </xs:complexType>
  
  <xs:attribute name="zip-code" type="ZipType"/>
  
  <xs:simpleType name="ZipType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][0-9][0-9][0-9][0-9]"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>